language: python
matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
install:
  - pip install pipenv
  - pipenv install
script:
  python -m unittest
branches:
  only:
    - master
    - develop

